@model MyBlog.Models.ListModel

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Admin Panel</title>
		<h2>@Model.User.UserName</h2>




</head>
<body>
			

		<h1> Posts </h1>
		<!--- There should be only a single logged in admin and Model.Posts should show all posts send id-->
		<div class="new-post">
			<a asp-controller="BlogPost" asp-action="CreatePost">+ Create new post</a>
		</div>


		<div class="post-titles">

		@foreach(var post in @Model.Posts)
		{
			<p>@post.Title</p>
			<a class="update-link" asp-controller="BlogPost" asp-action="Update" asp-route-id="@post.ID">Update </a>
			<a class="delete-link" asp-controller="BlogPost" asp-action="Delete" asp-route-id="@post.ID">Delete </a>
		}


		</div>

		<div class="logout-link">
			<a class="navbar-link" asp-controller="Account" asp-action="Logout">Logout</a>
		</div>

		
	
</body>
</html>
