@model MyBlog.Models.Post
@{
Layout = "_DetailsLayout";
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@Model.Title</title>
</head>
<body>
		<div class="post-detail-container">
			<div class="post-image">
				<img src="@("/images/" + @Model.CoverImagePath)" />
			</div>

			<div class="post-detail-title">
				<h1>@Model.Title</h1>
			</div>

			<div class="post-detail-author">
				<img class="post-detail-thumbnail" src="/images/james-headshot.jpg" alt="">
				<p class="author-name">by James Winston</p >
				<p class="author-date">@Model.AuthoredDate.ToString("MMM dd"),@Model.AuthoredDate.ToString(" yyyy")</p>
			</div>
			<div class="post-detail">
				<pre class="post-content">@Model.Content</pre>
			</div>
		</div>	
	

		
	
</body>
</html>
